@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(#4ff6f1, #02201f);
}

img {
    width: 100%;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 10px 10px 6px #ffffff2f;
}

#blog {
    background-color: #196864;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

#heading {
    color: #dcdf18;
}

#heading {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
}

p {
    padding-top: 50px;
    text-align: center;
    color: white;
}