* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#abc {
    font-weight: bold;
}

#abc2 {
    font-style: italic;
}

#def {
    font-size: 0.5em;
    text-decoration: underline;
    text-align: center;
}