@import url('https://fonts.googleapis.com/css2?family=Candal&family=Fondamento:ital@0;1&family=Nerko+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(7, 7, 65);
}

#poster {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    /* REMOVE BEFORE SUBMITTING */
    background-color: rgb(226, 226, 233);
}

.poster-heading {
    text-align: center;
    padding: 10px;
}

.poster-heading h1 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.poster-teams {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.poster-teams h1 {
    margin-left: 20px;
    margin-right: 80px;
    padding: 30px;
    text-align: center;
}

.poster-teams h3 {
    text-align: center;
}

.poster-info {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

img {
    width: 100%;
}

.teams-2 img {
    width: 210px;
}

.buttons a {
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
    font-size: 15px;
    padding: 20px;
    font-weight: bold;
    margin: 8px;
}

.primary-button {
    color: white;
    background-color: #003594;
}

.secondary-button {
    background-color: #241773;
    color: white;
}

.team-1 img {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0px;
}

.poster-info h2 {
    margin-bottom: 40px;
}

.team-1 {
    padding-right: 50px;
}