@import url('https://fonts.googleapis.com/css2?family=Candal&family=Fondamento:ital@0;1&family=Nerko+One&family=Revalia&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

#navbar {
    background: black;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#navbar a {
    text-decoration: underline;
    color: white;
    padding: 24px;
}

#name {
    font-weight: bold;
}

#hero-4 {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-4 .hero-content {
    text-align: center;
    color: #ffffff;
    padding: 36px 30px;
    background-color: #11111166;
}

#hero-4 h2 {
    font-size: 80px;
    font-family: "Fondamento", cursive;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 1px;
}

#hero-4 a {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: #f5f2f2;
    text-decoration: none;
    padding: 14px;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 15px;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 35px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

#layout {
    max-width: 1200px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 24px;
}

.basic-grid-gallery img {
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    flex: 1;
    border: 3px solid #777575;
    padding: 36px;
    text-align: center;
    margin: 34px;
}

.card h4 {
    color: white;
    font-size: 24px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.card a {
    text-decoration: none;
    display: inline-block;
    color: #333333;
    padding: 15px 15px;
    background-color: rgb(255, 254, 255);
    border-radius: 50px;
}

@media screen and (max-width: 1000px) {
    .basic-grid-gallery {
        grid-template-columns: 1fr 1fr;
        flex-direction: columns;
    }
}

@media screen and (max-width: 780px) {
    .card {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #hero-4 .hero-content h2 {
        font-size: 50px;
    }

    
    .card-container {
        flex-direction: column;
        margin: 0px;
    }

}

@media screen and (max-width: 400px) {
    #hero-4 .hero-content h2 {
        font-size: 30px;
    }

    .basic-grid-gallery {
        grid-template-columns: 1fr;
        flex-direction: columns;
    }

    #layout h3 {
        font-size: 18px;
    }
}