* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {
    background-color: burlywood;
}

span {
    background-color: lightseagreen;
    display: block;
}

div {
    background-color: lightpink;
    display: inline;
}

.card {
    background-color: lightgreen;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin: 12px;
    padding: 12px;
}