* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.calendar {
    border: solid rgba(128, 128, 128, 0.438) 2px;
    display: inline-block;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
}

.day {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.date {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0px;
}

.event {
    border-left: 5px solid purple;
    background-color: #ebc5eb;
    padding-left: 25px;
    margin-bottom: 3px;
    padding-right: 10px;
}

.event-name {
    font-size: 20px;
    color: purple;
    padding-bottom: 0px;
    margin: 0px;
}

.event-type {
    font-size: 20px;
    margin: 0px;
    padding-top: 5px;
}

.time {
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
}