@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(#4ff6f1, #02201f);
}

img {
    width: 100%;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 10px 10px 6px #ffffff2f;
}

#blog {
    background-color: #196864;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

#heading {
    color: #dcdf18;
}

#heading {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
}

p {
    padding-top: 50px;
    text-align: center;
    color: white;
}

#two-columns {
    display: flex;
    max-width: 800px;
    margin: 24px auto;
}

#sidebar-column {
    width: 250px;
    order: 2;
    padding: 18px;
    margin-top: 32px;
}

#single-column {
    flex: 1;
    gap: 1;
}

#sidebar-column h2 {
    background-color: #196864;
    padding: 19px;
    font-size: 18px;
    color: #dcdf18;
    margin: 0px;
    border-radius: 30px 30px 0px 0px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

#sidebar-column ul {
    background-color: #16887e;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid #023828;
    border-radius: 0px 0px 22px 22px;
}

#sidebar-column a {
    color: #fdfdfd;
    text-decoration: none;
}

#sidebar-column li {
    padding: 8px 0px;
    border-bottom: 1px solid #196864;
}

/* PSEUDO-CLASS */
#sidebar-column li:last-child {
    border-bottom: 0px;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}